QDRANT_HOST=localhost
QDRANT_PORT=6333
LLM_PROVIDER=gemini
GEMINI_API_KEY=replace_here
EMBEDDING_MODEL=keepitreal/vietnamese-sbert
COLLECTION_NAME=vnqa_documents
CHUNK_SIZE=400
CHUNK_OVERLAP=50
TOP_K=5
DOCUMENTS_PATH=../documents
